/*-------------------------- *\
  #CARDS 
\*-------------------------- */

.card {
  /*   inline-size: min(20rem, 90vw); */
  block-size: 10rem;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 95% -4%;
}

.card:first-child {
  background-color: var(--orange-300);
  background-image: url("../assets/images/icon-work.svg");
}

.card:nth-child(2) {
  background-color: var(--navy-200);
  background-image: url("../assets/images/icon-play.svg");
}

.card:nth-child(3) {
  background-color: var(--pink-400);
  background-image: url("../assets/images/icon-study.svg");
}

.card:nth-child(4) {
  background-color: var(--green-400);
  background-image: url("../assets/images/icon-exercise.svg");
}

.card:nth-child(5) {
  background-color: var(--purple-600);
  background-image: url("../assets/images/icon-social.svg");
}

.card:last-child {
  background-color: var(--yellow-300);
  background-image: url("../assets/images/icon-self-care.svg");
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  background-color: var(--navy-900);
  color: var(--white);
  border-radius: 16px;
  transform: translateY(45px);
}

.card__title {
  font-size: 1rem;
  font-weight: var(--fw-medium);
}

.card__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__details--hours {
  font-size: 2.6rem;
  font-weight: var(--fw-light);
}

.card__details--period {
  margin-block-start: 1rem;
  font-size: 0.9rem;
  font-weight: var(--fw-regular);
  color: var(--navy-200);
}

.icon-menu {
  cursor: pointer;
}
