/*-------------------------- *\
  #MEDIA-QUERIES 
\*-------------------------- */

@media (min-width: 48rem) {
  .grid-container {
    grid-template-rows: 12rem 26rem;
    align-content: center;
    justify-content: center;
  }

  .grid-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .timeframe-selector {
    justify-content: space-around;
  }

  .card {
    background-size: 30%;
    background-position: 95% -2%;
  }

  .card__details {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 64rem) {
  .grid-container {
    grid-template-columns: 15rem 42rem;
    grid-template-rows: auto;
  }

  .dashboard__header {
    flex-direction: column;
  }

  .dashboard__profile {
    flex-direction: column;
    align-items: flex-start;
  }

  .dashboard__profile-name {
    font-size: 2.3rem;
  }

  .timeframe-selector {
    inline-size: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem;
  }
}
