/*-------------------------- *\
  #SELECTOR-BUTTONS 
\*-------------------------- */

.timeframe-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

.timeframe-btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: var(--purple-500);
  cursor: pointer;
}

.timeframe-btn.active {
  color: var(--white);
}
