/** 
* CONTENTS
*
* RESET
* GLOBAL-STYLES
* LAYOUT
* FOOTER

*/

/*-------------------------- *\
  #RESET 
\*-------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*-------------------------- */

:root {
  /* Colors */

  --purple-600: hsl(246, 80%, 60%);
  --orange-300: hsl(15, 100%, 70%); /* work */
  --blue-300: hsl(195, 74%, 62%); /* play */
  --pink-400: hsl(348, 100%, 68%); /* study */
  --green-400: hsl(145, 58%, 55%); /* exercise */
  --purple-700: hsl(264, 64%, 52%); /* social */
  --yellow-300: hsl(43, 84%, 65%); /* self care */

  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */

  --ff-body: "Rubik", sans-serif;

  --fs-heading: 18px;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
}

body {
  font-family: var(--ff-body);
}

/*-------------------------- *\
  #LAYOUT
\*-------------------------- */

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-section {
  background-color: var(--navy-950);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  min-block-size: 100dvh;
  padding: 1rem;
}

.grid-cards {
  display: grid;
  gap: 2rem;
}

/*-------------------------- *\
  #FOOTER
\*-------------------------- */

.footer {
  padding-block: 1rem;
  background-color: var(--navy-950);
}

.attribution {
  text-align: center;
  color: var(--navy-200);
}

.attribution__link {
  text-decoration: none;
  color: var(--navy-200);
  cursor: pointer;
  transition: 0.2s ease;
}

.attribution__link:hover,
.attribution__link:focus-visible {
  color: var(--green-400);
}
