/*-------------------------- *\
  #MEDIA-QUERIES 
\*---------------------------*/
@media (min-width: 48rem) {
  .card {
    display: flex;
    inline-size: 100%;
    max-inline-size: 53rem;
  }
  .card-image {
    inline-size: 40%;
    block-size: auto;
    border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
  }
  .card-content {
    inline-size: 60%;
  }
  .card-title {
    font-size: var(--fs-xl);
  }
  .card-footer {
    inline-size: 100%;

    border-radius: 0 0 var(--border-radius-sm) 0;
  }
  .card-footer,
  .social-nav {
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 64rem) {
  .card-footer {
    position: relative; /* for tooltip */
    padding-block-start: 0;
  }

  /* Classes for JavaScript */
  .card-footer.active {
    background-color: var(--white);
  }
  .card-footer.active .author-content {
    display: flex;
  }
  .card-footer.active .social-nav {
    position: absolute;
    inset-block-start: -60px;
    inset-inline-start: 66%;

    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-subtle);
    padding: var(--spacing-sm) var(--spacing-md);
  }
  .card-footer.active .social-list {
    gap: var(--spacing-md);
  }

  .card-footer.active .social-nav::after {
    content: "";
    position: absolute;
    inset-block-end: -14px;
    inset-inline-start: 45%;
    transform: translateX(-50%);
    inline-size: 0;
    block-size: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid var(--very-dark-grayish-blue);
  }
}
