/*-------------------------- *\
  #MEDIA-QUERIES 
\*---------------------------*/

@media (min-width: 48rem) {
  .card {
    display: flex;
    max-inline-size: 57rem;
  }

  .card-image {
    block-size: auto;
    border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
  }

  .card-title {
    font-size: var(--fs-xl);
    max-inline-size: 26ch;
  }

  .card-footer {
    position: relative; /* for tooltip */
    padding-block-end: var(--spacing-lg);
    border-radius: 0 0 var(--border-radius-sm) 0;
  }

  .share-button:hover {
    background-color: var(--desaturated-dark-blue);
  }

  .share-button:hover,
  .card-footer.active .share-button {
    color: var(--white);
  }

  /* Tooltip (not using card overflow hidden) */

  .social-nav {
    position: absolute;
    inset-block-start: -60px;
    inset-inline-start: 40%;
    transform: translateX(25%);

    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-subtle);
    padding: var(--spacing-sm) var(--spacing-lg);
  }

  .social-nav::after {
    content: "";
    position: absolute;
    inset-block-end: -14px;
    inset-inline-start: 50%;
    transform: translateX(95%);
    inline-size: 0;
    block-size: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid var(--very-dark-grayish-blue);
  }

  .social-list {
    gap: var(--spacing-md);
  }

  /* Classes for JavaScript */

  .card-footer.active {
    background-color: var(--white);
  }

  .card-footer.active .author-content {
    display: flex;
  }
}

@media (min-width: 64rem) {
  .card-footer.active .social-nav {
    inset-inline-start: 50%;
  }

  .card-footer.active .social-nav::after {
    transform: translateX(-50%);
  }
}
