/** 
* CONTENTS
*
* RESET
* GLOBAL-STYLES
* LAYOUT
* CARD
* CARD-FOOTER
* BUTTON-SHARE
* SOCIAL-NAV
* CLASSES-FOR-JAVASCRIPT
*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --orange: rgb(241, 160, 7);

  /* Fonts */
  --ff-body: "Manrope", sans-serif;

  --fs-base: 13px;
  --fs-sm: 0.9rem;
  --fs-md: 1.015rem;
  --fs-lg: 1.23rem;
  --fs-xl: 1.5rem;

  --fw-medium: 500;
  --fw-bold: 700;

  /* Spacings */
  --spacing-xs: 0.42rem;
  --spacing-sm: 0.84rem;
  --spacing-md: 1.23rem;
  --spacing-lg: 2.46rem;
  --spacing-xl: 3.07rem;

  /* Border radius */
  --border-radius-sm: 0.92rem;

  /* Shadows */
  --shadow-subtle: 0 2px 8px rgba(0, 0, 0, 0.15);
}

html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}

/*-------------------------- *\
  #LAYOUT 
\*---------------------------*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100dvh;
  background-color: var(--light-grayish-blue);
}

/*-------------------------- *\
  #CARD 
\*---------------------------*/

.card {
  inline-size: 95%;
  max-inline-size: 25rem;

  background-color: var(--white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-subtle);
}

.card-image {
  inline-size: 100%;
  block-size: 16rem;

  background-image: url("../assets/images/drawers.jpg");
  background-size: cover;
  background-position-y: 20%;
  background-repeat: no-repeat;

  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.card-info {
  padding: var(--spacing-lg);
  padding-block-end: var(--spacing-md);
}

.card-title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: 1.5;
  color: var(--very-dark-grayish-blue);

  margin-block-end: var(--spacing-md);
}

.card-description {
  font-weight: var(--fw-medium);
  font-size: var(--fs-md);
  line-height: 1.6;
  color: var(--desaturated-dark-blue);
}

/*-------------------------- *\
  #CARD-FOOTER 
\*---------------------------*/

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-md) var(--spacing-lg);

  background-color: var(--white);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
}

.author-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.author-name {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  color: var(--very-dark-grayish-blue);
  line-height: 1.6;
}

.published-date {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  color: var(--desaturated-dark-blue);
}

.author-avatar {
  inline-size: 2.7rem;
  block-size: 2.7rem;
  border-radius: 50%;
  box-shadow: var(--shadow-subtle);
}

/*-------------------------- *\
  #BUTTON-SHARE 
\*---------------------------*/

.share-button {
  display: flex; /* to align share icon */
  flex-direction: column;
  align-items: center;
  justify-content: center;

  inline-size: 2.7rem;
  block-size: 2.7rem;

  border: none;
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow-subtle);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/*-------------------------- *\
  #SOCIAL-NAV 
\*---------------------------*/

.social-nav {
  display: none;
  padding-block: var(--spacing-xs);
  background-color: var(--very-dark-grayish-blue);
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.social-link {
  text-decoration: none;
}

.social-text-share {
  text-decoration: none;
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: var(--grayish-blue);
}

.social-icon {
  inline-size: 1.4rem;
  block-size: 1.4rem;
  color: var(--white);
}

.social-icon:hover {
  color: var(--grayish-blue);
}

/*-------------------------- *\
  #CLASSES-FOR-JAVASCRIPT 

  When click the share button, 
  the active class toggle: 
  . the card footer background color,
  . the author content hide,
  . the social nav show
\*---------------------------*/

.card-footer.active {
  background-color: var(--very-dark-grayish-blue);
}

.card-footer.active .share-button {
  background-color: var(--desaturated-dark-blue);
}

.card-footer.active .share-icon {
  color: var(--white);
}

.card-footer.active .author-content {
  display: none;
}

.card-footer.active .social-nav {
  display: flex;
}

@media (prefers-reduced-motion: reduce) {
  .share-button,
  .social-link {
    transition-duration: 0.01ms;
  }
}
