/** 
* CONTENTS
*
* RESET
* GLOBAL-STYLES


*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */

  --blue-50: hsl(240, 78%, 98%);
  --gray-650: hsl(233, 13%, 49%);
  --gray-700: hsl(232, 13%, 33%);

  /* 
Linear gradient: hsl(237, 73%, 79%) to hsl(238, 63%, 64%) */

  /* Fonts */

  --ff-body: "Montserrat", sans-serif;
  --fs-base: 15px;

  --fw-bold: 700;
}
html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}
