/** 
* CONTENTS
*
* RESET
* GLOBAL-STYLES


*/

/*-------------------------- *\
  #RESET 
\*---------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------------------- *\
  #GLOBAL-STYLES 
\*---------------------------*/

:root {
  /* Colors */

  --white: hsl(0, 0%, 100%);
  --blue-50: hsl(240, 78%, 98%);
  --blue-90: hsl(240, 11%, 95%);
  --gray-650: hsl(233, 13%, 49%);
  --gray-700: hsl(232, 13%, 33%);
  --gray-900: hsl(231, 55%, 20%);

  --blue-gradient: linear-gradient(
    50deg,
    hsl(237, 73%, 79%),
    hsl(238, 63%, 64%)
  );

  /* Fonts */

  --ff-body: "Montserrat", sans-serif;
  --fs-base: 15px;

  --fw-bold: 700;
}

html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*-------------------------- *\
  #LAYOUT 
\*-------------------------- */

.container {
  min-block-size: 100dvh;
  padding: 3.5rem 1rem;
}

.plans {
  background-color: var(--blue-90);
  background-image: url(../assets/images/bg-top.svg);
  background-repeat: no-repeat;
  background-size: 25rem;
  background-position: right -51vw top -4vh;
}

.plans__title {
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--gray-700);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer {
  padding-block: 1.5rem;
  background-color: var(--blue-90);
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  color: var(--gray-650);
}

.attribution__link {
  color: var(--gray-650);
  cursor: pointer;
  transition: color 0.2s ease;
}

.attribution__link:hover {
  color: var(--gray-900);
}

/*-------------------------- *\
  #MEDIA-QUERIES 
\*-------------------------- */

@media (min-width: 48rem) {
  .plans {
    background-image: url(../assets/images/bg-top.svg),
      url(../assets/images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;

    background-size: 20rem, 20rem;
    background-position: right top, left bottom;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }
}
