/*-------------------------- *\
  #TOGGLE 
\*---------------------------*/

.toggle-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  inline-size: max(20vw, 260px);
  margin: 2rem auto 4rem;
}

.toggle-label {
  font-weight: var(--fw-bold);
  color: var(--gray-650);
}

.switch {
  position: relative;
  display: inline-block;
  inline-size: 60px;
  block-size: 34px;
}

.switch input {
  opacity: 0;
  inline-size: 0;
  block-size: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  background-image: var(--blue-gradient);
  transition: 0.4s ease;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  block-size: 26px;
  inline-size: 26px;
  inset-inline-start: 4px;
  inset-block-end: 4px;
  background-color: white;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-image: linear-gradient(
    50deg,
    hsl(237, 73%, 79%),
    hsl(238, 63%, 70%)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
